<p>edit title:{{comment.title}}</p>
<div>
  <input [(ngModel)]="tempData.title" placeholder="title"/>
</div>
<div>
  <textarea [(ngModel)]="tempData.text" placeholder="text"></textarea>
</div>
<div>
  <!-- <mat-chip-list>
    <mat-chip>One fish</mat-chip>
    <mat-chip>Two fish</mat-chip>
    <mat-chip color="primary" selected>Primary fish</mat-chip>
    <mat-chip color="accent" selected>Accent fish</mat-chip>
  </mat-chip-list> -->
  <mat-form-field class="example-chip-list">
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip
        *ngFor="let fruit of fruits"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(fruit)">
        {{fruit}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="New fruit..."
        #fruitInput
        [matAutocomplete]="auto"
        [formControl]="fruitCtrl"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
        {{fruit}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  
  
  
  
  <!-- <md-chips ng-model="tempData.tags" placeholder="Add an item" md-max-chips="5">
  </md-chips> -->

  <!-- <input [(ngModel)]="tempData.tags" placeholder="text"/> -->
</div>
 <button (click)="cancelClickListener()">cancel</button>
  <!-- <button (click)="cancelClickListener">save</button> -->
