
<span>Welcome to {{title}}</span>
<input type="text" (keyup)="updateFilteredComments()" [(ngModel)]="tagSearch" />
<div *ngFor="let comment of filteredComments">
  <app-read-comment *ngIf="!comment.edit" [comment]="comment" (startEdit)="startEdit(comment)"></app-read-comment> 
  <app-edit-comment
    *ngIf="comment.edit"
    [comment]="comment"
    [allTags]="allTags"
    (cancelEdit)="cancelEdit(comment)"
    (saveEdit)="saveEdit($event)"
    (deleteComment)="deleteComment(comment)">
  </app-edit-comment>  
  <mat-divider></mat-divider>
</div>

<app-edit-comment [comment]="tempComment" hideCancel="true" (saveEdit)="saveEdit($event)"></app-edit-comment>  

<router-outlet></router-outlet>