
<h1 class="title" >Welcome to {{title}}</h1>
<div class="searchBar">
  <select (change)="updateFilteredComments()" [(ngModel)]="tagSearch">
    <option value="">select from availible tags to search</option>
    <option *ngFor="let tag of allTags" [ngValue]="tag">{{tag}}</option>
  </select>
</div>
<div class="commentList" *ngFor="let comment of filteredComments">
  <app-read-comment *ngIf="!comment.edit" [comment]="comment" (startEdit)="startEdit(comment)"></app-read-comment> 
  <app-edit-comment
    *ngIf="comment.edit"
    [comment]="comment"
    [allTags]="allTags"
    (cancelEdit)="cancelEdit(comment)"
    (saveEdit)="saveEdit($event)"
    (deleteComment)="deleteComment(comment)">
  </app-edit-comment>  
  <mat-divider></mat-divider>
</div>
<div class="commentList">
  <app-edit-comment [comment]="tempComment" hideCancel="true" (saveEdit)="saveEdit($event)"></app-edit-comment>  
</div>
<router-outlet></router-outlet>