

<span>Welcome to {{title}}</span>
<div *ngFor="let comment of comments | keyvalue">
  <app-read-comment *ngIf="!comment.value.edit" [comment]="comment.value" (startEdit)="startEdit(comment.value)"></app-read-comment> 
  <app-edit-comment
    *ngIf="comment.value.edit"
    [comment]="comment.value"
    [allTags]="allTags"
    (cancelEdit)="cancelEdit(comment.value)"
    (saveEdit)="saveEdit($event)"
    (deleteComment)="deleteComment(comment.value)">
  </app-edit-comment>  
</div>
<app-edit-comment [comment]="tempComment" hideCancel="true" (saveEdit)="saveEdit($event)"></app-edit-comment>  

<router-outlet></router-outlet>